.highlighter {
  padding: 20px 15px;
}
.hightlighter-description-content {
  text-align: center;
}
.hightlighter-description-content h1 {
  color: var(--Dark-Blue);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 10px;
}
.hightlighter-description-content p {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.8rem;
  line-height: 1.5rem;
  width: 80%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .highlighter-image-container {
    width: 25%;
    margin: auto;
  }
  .pattern-1 {
    width: 37%;
  }
  .hightlighter-description-content h1 {
    font-size: 1.5rem;
  }
  .hightlighter-description-content p {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .highlighter {
    margin: 3% 10% 0;
    display: flex;
    gap: 50px;
  }
  .highlighter-image-container,
  .hightlighter-description-content {
    flex: 1;
  }
  .hightlighter-description-content {
    order: 1;
    text-align: left;
  }
  .highlighter-image-container {
    order: 2;
  }
  .hightlighter-description-content h1 {
    font-size: 3.1rem;
  }
  .hightlighter-description-content p {
    font-size: 1rem;
    width: 70%;
    margin: 30px 0;
  }
}
