.user-comments {
  text-align: center;
}
.user-comments-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--Dark-Blue);
}
.slider-container {
  width: 100%;
  overflow-x: hidden;
}
.slider {
  width: 400%;
  display: flex;
  margin: 25px 0;
}
.slider-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 7px 0 25px;
  padding: 0 15px 15px;
  background-color: var(--Very-Light-Gray);
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -25px auto auto;
}
.user-name {
  display: block;
  font-size: 0.8rem;
  color: var(--Dark-Blue);
  font-weight: 700;
}
.user-comment {
  margin: 0;
  font-size: 0.7rem;
  color: var(--Dark-Grayish-Blue);
  line-height: 1.4rem;
}
.slider-indicator-container {
  margin: 25px 0;
}
.slider-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid var(--Bright-Red);
  display: inline-block;
}
.slider-indicator-active {
  background-color: var(--Bright-Red);
}
@media (min-width: 1024px) {
  .user-comments {
    margin-bottom: 100px;
  }
  .user-comments-title {
    font-size: 2.3rem;
  }
  .slider {
    margin: 35px 0;
  }
  .slider-item {
    width: 7.1%;
  }
  .user-image {
    width: 70px;
    height: 70px;
    margin: -35px auto auto;
  }
  .user-name {
    font-size: 1rem;
  }
  .user-comment {
    margin: 0;
    font-size: 0.9rem;
  }
  .slider-indicator-container {
    display: none;
  }
}
